<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="BASE_URL" value="https://opensource-demo.orangehrmlive.com" />
    <Parameter name="BROWSER" value="chrome" />
    <Parameter name="HEADLESS" value="true" />

    <!-- Credentials for this execution run -->
    <Parameter name="ADMIN_USERNAME" value="Admin" />
    <Parameter name="ADMIN_PASSWORD" value="admin123" />
    <Parameter name="ESS_USERNAME" value="" />
    <Parameter name="ESS_PASSWORD" value="" />
  </TestRunParameters>
</RunSettings>
